.aims__list {
  display: flex;
  flex-direction: column;
  padding: 22px 0 27px;
  margin: 0;
  list-style: none;

  @include tablet {
    padding-top: 0;
    padding-bottom: 45px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 71px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.aims__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px 20px 18px;
  margin-bottom: 20px;
  margin-right: 0;

  &:last-child {
    margin-bottom: 0;
  }

  background-color: $color-basic-grey;

  @include tablet {
    flex-direction: column;
    margin-bottom: 30px;
    padding: 77px 62px 53px 52px;
  }

  @include desktop {
    flex-direction: row;
    flex-basis: 570px;
    flex-grow: 1;
    margin-bottom: 0;
    padding-top: 47px;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.aims__icon {
  width: 50px;
  height: 50px;
  position: relative;

  background-color: $color-basic-green;
  border-radius: 50%;

  &.aims__icon--slim {
    svg {
      position: absolute;
      bottom: 3px;
      left: 7px;
    }
  }

  &.aims__icon--pro {
    svg {
      position: absolute;
      bottom: 11px;
      left: -9.5px;
    }
  }

  @include tablet {
    position: absolute;
    top: 91px;
    right: 60px;

    width: 200px;
    height: 200px;

    &.aims__icon--slim {
      svg {
        width: 140px;
        height: 192px;
        bottom: 19px;
        left: 30px;
      }
    }

    &.aims__icon--pro {
      svg {
        width: 268px;
        height: 112px;
        bottom: 44px;
        left: -36px;
      }
    }
  }

  @include desktop {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;

    &.aims__icon--slim {
      svg {
        width: 70px;
        height: 97px;
        bottom: 9px;
        left: 15px;
      }
    }

    &.aims__icon--pro {
      svg {
        width: 134px;
        height: 56px;
        bottom: 24px;
        left: -19px;
      }
    }
  }
}

.aims__title {
  flex-grow: 1;
  align-self: center;

  margin: 0 0 0 19px;
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 154%;
  text-transform: uppercase;

  @include tablet {
    align-self: flex-start;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    align-self: center;
    margin-left: 62px;
  }
}

.aims__text {
  margin: 0;
  padding: 22px 0 23px;
  line-height: 129%;
  border-bottom: 1px solid $color-line;

  @include tablet {
    padding: 24px 0 48px;
    width: 377px;

    font-size: 16px;
    line-height: 150%;
    border-bottom: none;
  }

  @include desktop {
    padding-top: 39px;
    padding-bottom: 23px;
    width: auto;
  }
}

.aims__link {
  padding: 15px 0 0;
  width: 134px;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 100px 17px;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 100%;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-basic-black;

  @include tablet {
    padding-top: 0;
    width: 165px;
    background-position: 129px;
  }

  @include desktop {
    width: 168px;
    background-position: 136px;
  }
}
