.page {
  box-sizing: border-box;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;

  background: $color-basic-white;
  color: $color-basic-black;

  // &--index {
  //   @include mobile-only {
  //     background-image: url('../../img/index-background-mobile@1x.jpg');
  //     background-repeat: no-repeat;
  //     background-position: center 66px;
  //     background-size: 320px auto;  // height = 305px;
  //   }

  //   @include tablet {
  //     background: none;
  //   }

  //   @include desktop {
  //     background-image: url('../../img/index-background-desktop@1x.jpg');
  //     background-repeat: no-repeat;
  //     background-position: right top;
  //     background-size: auto auto;
  //   }
  // }  
}

.container {  
  @include mobile-only {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 110px;
    padding-right: 110px;
  }
}
