.page-header {
  @include mobile-only {
    border-bottom: 1px solid $color-special-grey-2;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;

  @include mobile-only {
    margin: 11px 20px 0;
  }

  @include tablet {
    margin: 24px 30px 0;
    justify-content: space-between;    
    align-items: flex-end;
  }

}

.page-header__logo {  
  @include mobile-only {
    margin-bottom: 17px;
    height: 38px;
    flex-basis: 240px;
    flex-grow: 1;
    
    background-image: url("../../img/logo-mobile.svg" );
    background-repeat: no-repeat;
    background-position: left;  
  }

  @include tablet {
    height: 52px;
    width: 174px;    

    background-image: url("../../img/logo-tablet.svg" );
    background-repeat: no-repeat;
    background-position: left;
  }

  @include desktop {
    height: 59px;
    width: 202px;
    
    background-color: pink;
    background-image: url("../../img/logo-desktop.svg" );
    background-repeat: no-repeat;
    background-position: left;
  }
}

.page-header__bg {
  position: relative;

  @include tablet {
    display: none;
  }

  &-wrapper {
    position: absolute;
    top: 0;
    z-index: -1;

    @include mobile-only {
      width: 100%;
      background-color: $color-bg-cat-index;
      text-align: center;
    }
  }
}
