.process {
  margin: 0 20px 42px;
}

.process__title {
  margin-top: 0;
  margin-bottom: 38px;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 111%;
}

.process__list {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.process__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.process__icon {
  flex-basis: 60px;
  height: 60px;
  background-color: $color-basic-green;

  img {
    margin: 5px;
  }
}

.process__description {
  flex-basis: 200px;
  flex-grow: 1;
  margin-left: 20px;
  font-size: 14px;
  line-height: 129%;
}
