.products {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.products__header {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 41px;
  margin: 0;
  border-bottom: 1px solid $color-special-grey-2;

  font-weight: normal;
  font-size: 36px;
  line-height: 100%;

  @include tablet {
    padding-top: 65px;
    padding-bottom: 83px;
  }
}

.products__list {
  display: grid;
  row-gap: 9px;
  padding: 0;
  margin: 0;

  list-style: none;

  @include tablet {
    border: 1px solid red;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @include desktop {
    border: 1px solid blue;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.products__item {
  @include mobile-only {
    border-bottom: 1px solid $color-special-grey-2;
  }

  @include tablet {
    border: 1px solid blue;
  }
}

.products__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 11px;
  padding-bottom: 9px;

  &--all {
    flex-direction: column;
    align-items: center;
  }
}

.products__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 133%;

  &--all {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.products__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  dt {
    display: inline-block;
    flex-basis: 50%;
  }  
  dd {
    display: inline-block;
    text-align: right;
    margin: 0;
    flex-basis: 50%;
  }
}

.products__title {
  margin: 0;
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.products__img {
  width: 50%;
  align-self: center;

  img {
    width: 140px;
    height: 112px;
  }

  // &--product1 {
  //   background-image: url("../img/chicken-small-mobile@1x.jpg");
  // }

  // &--product2 {
  //   background-image: url("../img/chicken-big-mobile@1x.jpg");
  // }

  // &--product3 {
  //   background-image: url("../img/fish-small-mobile@1x.jpg");
  // }

  // &--product4 {
  //   background-image: url("../img/fish-big-mobile@1x.jpg");
  // }

  // &--product5 {
  //   background-image: url("../img/buckwheat-small-mobile@1x.jpg");
  // }

  // &--product6 {
  //   background-image: url("../img/buckwheat-big-mobile@1x.jpg");
  // }

  // &--product7 {
  //   background-image: url("../img/rice-small-mobile@1x.jpg");
  // }
}

.products__add-btn {
  margin-top: 14px;
  margin-bottom: 23px;
  border: none;
  padding: 0;
  background: none;
}

.products__button {
  margin: 13px auto 14px auto;
  min-height: 40px;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: $color-basic-white;

  background-color: $color-basic-green;
  border: none;

  &--all {
    background-color: $color-basic-grey;
    color: $color-special-dark-grey;
  }
}
