.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    align-items: flex-start;
  }
}

.promo__header {
  order: 1;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;


}

.promo__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  font-size: 36px;
  line-height: 100%;
  text-align: center;

  color: $color-basic-white;

  @include tablet {
    text-align: left;
    color: $color-basic-black;

  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 129%;

  text-transform: uppercase;
  text-align: center;

  color: $color-basic-white;

  @include tablet {    
    text-align: left;
    color: $color-basic-black;
  }
}

.promo__img {
  position: relative;  
  order: 2;

  @include tablet {
    order: 3;    

    img {
      width: 709px;
      height: 609px;
    }
  }
}

.promo__button {
  min-height: 40px;
  order: 3;
  width: 100%;

  
  @include tablet {
    order: 2;
    width: 244px;
    position: absolute;
    top: 292px;
  }

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  text-transform: uppercase;
  color: $color-basic-white;

  background-color: $color-basic-green;
  border: none;
}
