@import "variables.scss";
@import "fonts.scss";
@import "common.scss";

// @import "blocks/page.scss";
.page {
  box-sizing: border-box;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;

  background: $color-basic-white;
  color: $color-basic-black;
}
//--------------------------------

// @import "blocks/page-header.scss";
.page-header {
  border-bottom: 1px solid $color-special-grey-2;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 11px;
  margin-bottom: 17px;

  max-width: $container-mobile;
}

.main-nav__close {
  padding-left: 3px;
  padding-right: 3px;
}
//--------------------------------

// @import "blocks/site-list.scss"
.site-list {
  padding: 0;
  margin: 0;

  text-align: center;
  list-style: none;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 22px;

  text-transform: uppercase;
  font-family: "Oswald-Medium", "Arial", sans-serif;
  font-weight: medium;
  font-size: 20px;
  line-height: 100%;

  border-bottom: 1px solid $color-special-grey-2;

  &:first-child {
    border-top: 1px solid $color-special-grey-2;
  }

  &:last-child {
    border-bottom: none;
  }
}

.site-list__link {
  color: $color-basic-black;
  text-decoration: none;
}


// main .page-main

//@import "blocks/products.scss";
.products {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.products__header {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 41px;
  margin: 0;
  border-bottom: 1px solid $color-special-grey-2;

  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
}

.products__list {
  display: grid;
  row-gap: 9px;

  padding: 0;
  margin: 0;
}

.products__item {
  border-bottom: 1px solid $color-special-grey-2;
}

.products__card {
  display: grid;
  grid-template-areas:
    "pic title"
    "pic info"
    "btn btn";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: min-content 1fr;

  width: 320px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 9px;
}

.products__title {
  grid-area: title;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.products__img {
  grid-area: pic;

  width: 140px;
  height: 112px;
  background-size: cover;
  background-position: center;
}

.products__img--product1 {
  background-image: url("../img/chicken-small-mobile@1x.jpg");
}

.products__img--product2 {
  background-image: url("../img/chicken-big-mobile@1x.jpg");
}

.products__img--product3 {
  background-image: url("../img/fish-small-mobile@1x.jpg");
}

.products__img--product4 {
  background-image: url("../img/fish-big-mobile@1x.jpg");
}

.products__img--product5 {
  background-image: url("../img/buckwheat-small-mobile@1x.jpg");
}

.products__img--product6 {
  background-image: url("../img/buckwheat-big-mobile@1x.jpg");
}

.products__img--product7 {
  background-image: url("../img/rice-small-mobile@1x.jpg");
}

.products__info {
  grid-area: info;
  margin: 18px 20px 9px 0;

  & div {
    display: flex;
    justify-content: space-between;

    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 133%;
  }
}

.products__button {
  grid-area: btn;
  margin: 13px auto 14px auto;
  width: 280px;
  height: 40px;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 0px;
  text-align: center;
  text-transform: uppercase;
  color: $color-basic-white;

  background-color: $color-basic-green;
  border: none;
}
//---------------------------------------------

//footer .page-footer
.page-footer {
  background-color: $color-basic-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: $container-mobile;

  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 7px;
  margin-bottom: 22px;
}

.page-footer__logo {
  width: 100%;
  border-bottom: 1px solid $color-line-footer;
  text-align: center;
  padding: 32px 0;
}

.page-footer__social {
  width: 100%;
  border-bottom: 1px solid $color-line-footer;
}

.social {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 22px;
  justify-content: space-between;
  margin: 20px auto;
}

.social__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 22px;
  width: 22px;
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 0;
}

.copyright__text {
  color: $color-special-dark-grey;
  font-size: 16px;
  line-height: 18px;
}
